if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[loanApp]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[loanApp]
GO

CREATE TABLE [dbo].[loanApp] (
	[uid] [int] NULL ,
	[loanType] [nvarchar] (1) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memNo] [int] NULL ,
	[memName] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[appDate] [smalldatetime] NULL ,
	[memGrade] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[age] [int] NULL ,
	[firstAppointDate] [smalldatetime] NULL ,
	[employCond] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[netSalary] [money] NULL ,
	[loanAmt] [money] NULL ,
	[installment] [int] NULL ,
	[chequeDate] [smalldatetime] NULL ,
	[guarantorID] [int] NULL ,
	[guarantorName] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantorGrade] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantorSalary] [money] NULL ,
	[interviewDate] [smalldatetime] NULL ,
	[interviewDetail] [ntext] COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[firstApprovalDate] [smalldatetime] NULL ,
	[firstApproval] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[secondApprovalDate] [smalldatetime] NULL ,
	[secondApproval] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[rejectReason] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[loanPlanID] [int] NULL ,
	[SpecialPlanID] [int] NULL ,
	[interest] [bit] NOT NULL ,
	[otherReason1] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[otherReason2] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[remarks] [ntext] COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[deleted] [bit] NOT NULL ,
	[savettl] [money] NULL ,
	[guarantor2ID] [int] NULL ,
	[guarantor2Name] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantor2Grade] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantor2Salary] [money] NULL ,
	[interview2Date] [smalldatetime] NULL ,
	[interview2Detail] [ntext] COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantor3ID] [int] NULL ,
	[guarantor3Name] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantor3Grade] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[guarantor3Salary] [money] NULL ,
	[interview3Date] [smalldatetime] NULL ,
	[interview3Detail] [ntext] COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[bnklny] [char] (1) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[bnklnn] [char] (1) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[bnklnamt] [money] NULL ,
	[chequeamt] [money] NULL ,
	[oldlnnum] [char] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

