if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MemMaster]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MemMaster]
GO

CREATE TABLE [dbo].[MemMaster] (
	[memNo] [int] NULL ,
	[memname] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memCName] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memAddr1] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memAddr2] [nvarchar] (255) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memAddr3] [nvarchar] (255) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memContactTel] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memOfficeTel] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memrank] [nchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[mempos] [nchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memMobile] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memEmail] [nvarchar] (30) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memHKID] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memGender] [nvarchar] (1) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memBday] [smalldatetime] NULL ,
	[memGrade] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memSection] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[cuDesignation] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memG1] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memG2] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memG3] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memG4O1] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memG4O2] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memG4O3] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[treasRefNo] [nvarchar] (8) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[employCond] [nvarchar] (8) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[firstAppointDate] [smalldatetime] NULL ,
	[memDate] [smalldatetime] NULL ,
	[EdComm] [int] NULL ,
	[Wdate] [datetime] NULL ,
	[B1] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B2] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B1ID] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B2ID] [nvarchar] (20) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B1relation] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B2relation] [nvarchar] (50) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B1Add2] [nvarchar] (35) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B1Add] [nvarchar] (35) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B2Add] [nvarchar] (35) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[B2Add2] [nvarchar] (35) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[remark] [nvarchar] (100) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[creditStatus] [nvarchar] (2) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memPhoto] [image] NULL ,
	[monthsave] [money] NULL ,
	[monthssave] [money] NULL ,
	[tpayamt] [money] NULL ,
	[loanreplay] [money] NULL ,
	[calcInst] [bit] NULL ,
	[Osinst] [money] NULL ,
	[inst] [money] NULL ,
	[LeagueDue] [bit] NULL ,
	[bnk] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[bch] [nvarchar] (10) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[bacct] [nvarchar] (30) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[bnklmt] [money] NULL ,
	[bnkamt] [money] NULL ,
	[tryamt] [money] NULL ,
	[personalEnt] [nvarchar] (30) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[share_tx_date] [smalldatetime] NULL ,
	[Share_amt_last] [money] NULL ,
	[loan_tx_date] [smalldatetime] NULL ,
	[loan_amt_last] [money] NULL ,
	[loanamt] [money] NULL ,
	[loan_app_date] [smalldatetime] NULL ,
	[accode] [char] (4) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[repaylst] [smalldatetime] NULL ,
	[payby] [nvarchar] (4) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[loanbeg] [smalldatetime] NULL ,
	[loanend] [smalldatetime] NULL ,
	[overdue] [money] NULL ,
	[ttlshare] [money] NULL ,
	[ttllastshare] [money] NULL ,
	[dividend] [money] NULL ,
	[status] [nvarchar] (4) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[mstatus] [nvarchar] (4) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[deleted] [bit] NOT NULL ,
	[dtupdat] [smalldatetime] NULL ,
	[monincome] [money] NULL ,
	[introd1] [nvarchar] (40) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[introd2] [nvarchar] (40) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memoadd1] [nvarchar] (40) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memoadd2] [nvarchar] (40) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[memoadd3] [nvarchar] (40) COLLATE Chinese_Taiwan_Stroke_CI_AS NULL ,
	[appointdate] [smalldatetime] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

