if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[userRights]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[userRights]
GO

CREATE TABLE [dbo].[userRights] (
	[User_Fk] [int] NULL ,
	[Member1] [bit] NULL ,
	[Member2] [bit] NULL ,
	[Member3] [bit] NULL ,
	[Member4] [bit] NULL ,
	[Member5] [bit] NULL ,
	[Member6] [bit] NULL ,
	[Loan1] [bit] NULL ,
	[Loan2] [bit] NULL ,
	[Loan3] [bit] NULL ,
	[Loan4] [bit] NULL ,
	[Loan5] [bit] NULL ,
	[Loan6] [bit] NULL ,
	[Loan7] [bit] NULL ,
	[Loan8] [bit] NULL ,
	[Loan9] [bit] NULL ,
	[Loan10] [bit] NULL ,
	[Loan11] [bit] NULL ,
	[cLoan1] [bit] NULL ,
	[cLoan2] [bit] NULL ,
	[cLoan3] [bit] NULL ,
	[cLoan4] [bit] NULL ,
	[cLoan5] [bit] NULL ,
	[AutoPay1] [bit] NULL ,
	[AutoPay2] [bit] NULL ,
	[AutoPay3] [bit] NULL ,
	[AutoPay4] [bit] NULL ,
	[AutoPay5] [bit] NULL ,
	[AutoPay6] [bit] NULL ,
	[AutoPay7] [bit] NULL ,
	[AutoPay8] [bit] NULL ,
	[AutoPay9] [bit] NULL ,
	[AutoPay10] [bit] NULL ,
	[AutoPay11] [bit] NULL ,
	[AutoPay12] [bit] NULL ,
	[AutoPay13] [bit] NULL ,
	[Saving1] [bit] NULL ,
	[Saving2] [bit] NULL ,
	[Saving3] [bit] NULL ,
	[Saving4] [bit] NULL ,
	[Saving5] [bit] NULL ,
	[Saving6] [bit] NULL ,
	[Saving7] [bit] NULL ,
	[Saving8] [bit] NULL ,
	[Saving9] [bit] NULL ,
	[Saving10] [bit] NULL ,
	[MemAcct1] [bit] NULL ,
	[Reporting1] [bit] NULL ,
	[Reporting2] [bit] NULL ,
	[Reporting3] [bit] NULL ,
	[Reporting4] [bit] NULL ,
	[Reporting5] [bit] NULL ,
	[Reporting6] [bit] NULL ,
	[Reporting7] [bit] NULL ,
	[Reporting8] [bit] NULL ,
	[Reporting9] [bit] NULL ,
	[Reporting10] [bit] NULL ,
	[Reporting11] [bit] NULL ,
	[Reporting12] [bit] NULL ,
	[Other1] [bit] NULL ,
	[Other2] [bit] NULL ,
	[Other3] [bit] NULL ,
	[Other4] [bit] NULL 
) ON [PRIMARY]
GO

